<div class="column">
<h2>Restaurant Orders</h2>
<hr>
<% @orders.each do |order| %>
  <p>Name: <%= order.name %></p>
  <p>Email: <%= order.email %></p>
  <p>Address: <%= order.address %></p>
  <p>Line Items: </p>
  <ul>
    <% order.order_items.each do |food| %>
    <li><%= food.quantity %> x <%= food.item.name %> = <%= food.total_price %></li>
    <% end %>
  </ul>
  <hr>
<% end %>

</div>