<div class= "column is-14">
<% @restaurants.each do |restaurant| %>
 <%= link_to restaurant do %>
    <h5>Restaurant: <%= restaurant.name %></h5>
 <% end %>
 <h5>Description: <%= restaurant.description %></h5>
 <% if restaurant.image.present? %>
        <%= image_tag(restaurant.image, class: "image") %>
    <% end %>
 <hr />
<% end %>
<%= paginate @restaurants %>
</div>