<h2><%= @restaurant.name %></h2>
<h4><%= @restaurant.description %></h4>
<% if restaurant_author(@restaurant) %>
  <p>
    <%= link_to "Update",  edit_restaurant_path(@restaurant), class: "btn btn-info"%>
    <%= link_to "Delete", restaurant_path(@restaurant), data: { turbo_method: :delete }, class: "btn btn-danger"%>
  </p>
<% end %>
<hr />
<h4>Items</h4>
<%= render @restaurant.items %>
<% if restaurant_author(@restaurant) %>
  <h4>Add a Dishes:</h4>
  <%= render 'items/form'%>
<% end %>
