<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.description %></p>
<% if restaurant_author(@restaurant) %>
  <p>
    <%= link_to "Update",  edit_restaurant_path(@restaurant), class: "btn btn-info"%>
    <%= link_to "Delete", restaurant_path(@restaurant), data: { turbo_method: :delete }, class: "btn btn-danger"%>
  </p>
<% end %>
<hr />
<h2>Items</h2>
<%= render @restaurant.items %>
<% if restaurant_author(@restaurant) %>
  <h2>Add a Dishes:</h2>
  <%= render 'items/form'%>
<% end %>
