<p>
    <strong>Dish:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>
  <% if item.image.present? %>
  <%= image_tag(item.image, class: "image") %>
  <% end %>
  <p>
   <% if item_author(item) %>
     <%= link_to "Destroy Dish", [item.restaurant, item],
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
     <%= link_to "Update Dish",  edit_restaurant_item_path(@restaurant, item) %>
   <% end %>
   <% if user_signed_in? && !item_author(item) %>
    <%= button_to "Add #{item.name} to cart", order_items_path(item_id: item) %>
   <% end %>
  </p>
  <hr />