<!DOCTYPE html>
<html>
  <head>
    <title>Foody</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p> 
    <p class="alert"><%= alert %></p> 
      <div class="topnav">
        <%= link_to "Foody", restaurants_path, class: "active" %>
        <% if user_signed_in? and current_user.role == "bussiness_account" %>
          <%= link_to "Sign-out", destroy_user_session_path, data: { turbo_method: :delete } %>
          <%= link_to "Add Restaurant", new_restaurant_path%>
          <%= link_to "Cart", cart_path(@cart) %>
        <% elsif user_signed_in? and current_user.role == "basic_account" %>
          <%= link_to "Sign-out", destroy_user_session_path, data: { turbo_method: :delete } %>
          <%= link_to "Cart", cart_path(@cart) %>
        <% else %>
          <%= link_to "Sign-in", new_user_session_path %>
          <%= link_to "Sign-up", new_user_registration_path %>
        <% end %>
      </div>
    <%= yield %>
  </body>
</html>
